<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{content.css}}" type="text/css">
</head>

<body>
  <div class="content border">
    <div class="sky"></div>
    <div class="headline">STAR WARS</div>
      <div class="intro">
        <div class="plane">
          <div class="intro-text">
            It is a period of civil war.<br>
            Rebel spaceships, striking from<br>
            a hidden base, have won their<br>
            first victory against the<br>
            evil Galactic Empire.<br><br>
            
            During the battle, Rebel spies<br>
            managed to steal secret plans<br>
            to the Empire's ultimate weapon,<br>
            the DEATH STAR, an armoured space<br>
            station with enough power to<br>
            destroy an entire planet.<br><br>

            Pursued by the Empire's sinister<br>
            agents, Princess Leia races home<br>
            board her starship, custodian of<br>
            the stolen plans that can save<br>
            her people and restore freedom<br>
            to the galaxy…
          </div>
        </div>
      </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
</body>
</html>
