@font-face{
  font-family: starWarsHeadFont;
  src: url(../font/SF-Distant-Galaxy-Outline.woff);
}
@font-face{
  font-family: starWarsIntroFont;
  src: url(../font/SF-Distant-Galaxy.woff);
}
:root {
  --red: #d51b28;
  --grey: #221f1f;
  --white: #221f1f;

  --width: var(--settings-size-width)px;
  --height: var(--settings-size-height)px;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}

body {
  background-color: var(--content-bgcolor);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.border {
  border: 1px solid #000000;
}

.content {
  position: relative;
  overflow: hidden;
  width: var(--width);
  height: var(--height);
  background-color: #000000;
}


.headline{
  font-family: starWarsHeadFont;
  color: #cc8c00;
  font-size: 30px;
  line-height: 0.72;
  width: min-content;
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
}

.intro-wrapper{
  width: 100%;
  height: 90%;
  position: relative;
  overflow: hidden;
}

.intro{
  width: 46%;
  height: 100%;
  transform: translate(-50%, -55%);
  position: absolute;
  top: 50%;
  left: 50%;
  perspective: 420px;
  perspective-origin: 50% 81%;
}

.plane{
  position: absolute;
  width: 100%;
  height: 100%;
}

.intro-text{
  position: absolute;
  top: 600px;
  text-align: center; 
  text-transform: capitalize;
  line-height: 2;
  font-size: 20px;
  font-family: starWarsIntroFont;
  color: #cc8c00;
}


